@model Scheduler.DataContracts.Client

@{
    ViewBag.Title = "Delete";
}

<h2>@ViewBag.Title</h2>

<h3 class="text-danger">Are you sure?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NetworkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetworkName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentVirtualDirectory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentVirtualDirectory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedBy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
