@model Scheduler.DataContracts.ScheduleEntry

@{
    ViewBag.Title = "Create Schedule Entry";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

@Html.Partial("EditPartial")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Css {
    @Styles.Render("~/Content/cron")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/cron")

    <script type="text/javascript">
    var cronControlHandler = new CronControlHandler();
    </script>
}
